@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('C:\Users\KIIT\Downloads\todolist-app-react-js-main\todolist-app-react-js-main\public\istockphoto-1293850746-612x612.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.TodoWrapper {
  background: rgba(12, 0, 0, 0.9);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 500px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #aeecec;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  color: #000606;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.todo-input::placeholder {
  color: #e8bbbb4d;
}

.todo-input:focus {
  background: rgba(255, 255, 255, 0.2);
}

.todo-btn {
  background: #4f4d4d;
  color: #fff;
  border: none;
  padding: 0.55rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.todo-btn:hover {
  background: #3d3b3b;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #84f388, #a0ffb2);
  color: #2d2d2d;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.Todo:hover {
  transform: scale(1.02);
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
